body {
    padding: 10px 20px 10px 20px;

}

ul {
    padding-left: 0;
    margin-top: 0;
}

li {
    list-style-type: none;
    padding-bottom: .2em;
}

.pages {
    display: flex;
    flex-direction: column;
    width: 22%;
}

.pages a {
    text-decoration: none;
}

.pictures {
    column-count: 3;
}

.picture {
    padding-bottom: .4em;
    padding-right: .2em;
    padding-left: .2em;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.container {
    color: rgb(102, 101, 101);
}

.title {
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 1.5em;
}

a {
    color: rgb(104, 104, 104);
}

a:hover, a:focus {
    color: lightslategrey;
}

@media screen and (max-width: 900px) {
    .pages {
        width: 100%;
        flex-direction: row;
    }

    .pages a {
        padding: 10px;
    }

    .blank {
        display: none;
    }

    .container {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .content {
        width: 100%;
    }

    .horizontal {
        flex-direction: column;
    }
}