body {
    padding: 10px 20px 10px 20px;
    background-color: #f5f5f5;
    font-family: 'Courier New', monospace, Helvetica, verdana, sans-serif;
}

ul {
    padding-left: 0;
    margin-top: 0;
}

li {
    list-style-type: none;
    padding-bottom: .5em;
}

.pages {
    display: flex;
    flex-direction: column;
    width: 22%;
}

.pages a {
    text-decoration: none;
}

.pictures {
    column-count: 3;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.container {
    color: rgb(95, 95, 95);
}

.title {
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 1.5em;
}

a {
    color: rgb(104, 104, 104);
}

a:hover, a:focus {
    color: rgb(138, 178, 218);
}

@media screen and (max-width: 900px) {
    .pages {
        width: 100%;
        flex-direction: row;
    }

    .pages a {
        padding: 10px;
    }

    .blank {
        display: none;
    }

    .container {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .content {

        width: 78%;
    }

    .horizontal {
        flex-direction: column;
    }
}