<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <div class="horizontal">
      <div class="pages title">
        <a href="/">jduarte.xyz</a>
      </div>
    </div>
    <div class="horizontal">
      <div class="pages">
        <ul>
          {% for page in text_pages %}
            <li>
              <a href="{{ page }}">{{ page }}</a>
            </li>
          {% endfor %}
          &nbsp;
          {% for page in image_pages %}
            <li>
              <a href="{{ page }}">{{ page }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="container content">
        {{ page.content }}
      </div>
    </div>
  </body>
</html>
