<div class="gallery">
  <ul id="gallery" class="image-gallery">
    {% for photo in photos %}
      <li class="image-outer">
        <a href={{ photo.page }} class="mobile-lazy-loading">
          <img class="photo gallery-image jsonly" loading="lazy" src={{ photo.photo_small }} width={{ photo.width }} height={{ photo.height }}>
          <noscript>
            <img class="photo gallery-image" src={{ photo.photo_small }}>
          </noscript>
        </a>
      </li>
    {% endfor %}
  <ul>
</div>
