{% extends "base.html" %}

{% block body %}
  <div class="horizontal">
    <div class="pages title">
      <a href="/">{{ site_title }}</a>
    </div>
  </div>
  <div class="horizontal">
    <div class="pages">
      <ul>
        <div class="top-space">
          {% for page in text_pages %}
            <li>
              <a href="{{ page }}">{{ page }}</a>
            </li>
          {% endfor %}
        </div>
        <div class="top-space">
          {% for page in photo_pages %}
            <li>
              <a href="{{ page }}">{{ page }}</a>
            </li>
          {% endfor %}
        </div>
      </ul>
    </div>
    <div class="content">{{ page.content }}</div>
  </div>
{% endblock %}
