{% extends "base.html" %}

{% block body %}
  <div class="horizontal">
    <div class="pages title">
      <a href="./">{{ site_title }}</a>
    </div>
  </div>
  <div class="horizontal">
    <div class="pages">
      <ul>
        {% for text_page in text_pages %}
          <li{% if loop.first %} class="top-space"{% endif %}>
            <a href="{{ text_page }}">{{ text_page }}</a>
          </li>
        {% endfor %}
        {% for photo_page in photo_pages %}
          <li{% if loop.first %} class="top-space"{% endif %}>
            <a href="{{ photo_page }}">{{ photo_page }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="content">{{ page.content }}</div>
  </div>
{% endblock %}
