{% extends "base.html" %}

{% block body %}
  <div class="photo-page">
    <a href={{ photo.path }}>
      <img class="image" src={{ photo.path }}>
    </a>
    <div>
      <p>{{ photo.get_original_date() }}</p>
      <p>
        {% if photo.aperture %}
          {{ photo.render_aperture }}
        {% endif %}
        {% if photo.aperture and photo.focal_length %}
          ,
        {% endif %}
        {% if photo.focal_length %}
          {{ photo.render_focal_length }}
        {% endif %}
      </p>
      <p class="small-font tag">{{ photo.render_keywords }}</p>
    </div>
  </div>
{% endblock %}