{% extends "base.html" %}

{% block content %}
  <div>
    <a href={{ photo.path }}>
      <img class="image" src={{ photo.path }}>
    </a>
    <div>
      <p>{{ photo.get_original_date() }}</p>
      <p>
        {% if photo.aperture %}
          {{ photo.get_aperture() }}
        {% endif %}
        {% if photo.aperture and photo.focal_length %}
          ,
        {% endif %}
        {% if photo.focal_length %}
          {{ photo.get_focal_length() }}
        {% endif %}
      </p>
      <p class="small-font">{{ photo.get_keywords() }}</p>
    </div>
  </div>
{% endblock %}