body {
  padding: 10px 0;
  background-color: #f5f5f5;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,verdana,Helvetica,sans-serif;
  font-weight: 300;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.sections {
  flex-direction: row;
}

.sections-list {
  display: flex;
  flex-wrap: wrap;
}

.section-item {
  list-style-type: none;
  padding: 5px;
  padding-left: 0;
  padding-right: 0;
}

.sections a {
  padding-right: 10px;
  text-decoration: none;
}

.sections ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.hide-mobile {
  display: none;
}

.horizontal {
  display: flex;
  flex-direction: column;
}

.content {
  padding-top: 25px;
  padding-bottom: 10px;
  width: 100%;
  color: rgb(95, 95, 95);
}

.image-gallery {
  padding-left: 0;
  margin-top: 0;
}

.image-gallery > li {
  list-style-type: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.title {
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 1.5em;
}

.mobile-lazy-loading {
  min-height: 200px;
}

.gallery-image {
  width: 100%;
  height: auto;
}

a {
  display: inline-block;
  color: rgb(104, 104, 104);
}

a:hover,
a:focus {
  color: rgb(138, 178, 218);
}

.small-font {
  font-size: small;
}

.tag {
  font-style: italic;
}

.image {
  display: block;
  max-width: 100%;
  max-height: 80vh;
  width: auto;
  height: auto;
}

.jsonly {
  display: none;
}


@media only screen and (min-width: 865px) {
  body {
    padding: 10px 25px 10px 25px;
  }

  .sections {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-left: 30px;
  }

  .sections-group {
    margin-top: 20px;
  }

  .sections li {
    float: none;
  }

  .section-list {
    display: block;
  }

  .hide-mobile {
    display: unset;
  }

  .content {
    padding-top: 10px;
    width: 78%;
  }

  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }

  .image-gallery > li {
    height: 195px;
    flex: auto;
    position: relative;
    padding: 5px;
  }

  .image-gallery li a {
    width: 100%;
    height: 100%;
    max-width: 100%;
  }

  .image-gallery::after {
    content: "";
    flex-grow: 999;
  }

  .photo {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }

  .title {
    padding-top: 20px;
    padding-left: 30px;
  }

  .horizontal {
    flex-direction: row;
  }

  .photo-page {
    padding-top: 10px;
  }
}

@media only screen and (min-width: 1084px) {
  .image-gallery > li {
    height: 290px;
  }
}

@media only screen and (min-width: 1920px) {
  .image-gallery > li {
    height: 350px;
  }
}

@media only screen and (min-width: 2560px) {
  .image-gallery > li {
    height: 450px;
  }
}
