body {
  padding: 10px 0;
  background-color: #f5f5f5;
  font-family: "Courier New", monospace, Helvetica, verdana, sans-serif;
}

ul {
  padding-left: 0;
  margin-top: 0;
}

li {
  list-style-type: none;
  padding: 5px;
}

.pages {
  flex-direction: row;
  padding-right: 25px;
  padding-left: 25px;
}

.pages a {
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
}

.pages ul {
  list-style: none;
}

.pages li {
  float: left;
  padding-left: 0px;
  padding-right: 0px;
}

.horizontal {
  display: flex;
  flex-direction: column;
}

.content {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.gallery {
  padding-right: 10px;
  padding-left: 10px;
}

.title {
  padding: 20px 25px 15px 25px;
  font-size: 1.5em;
}

.mobile-lazy-loading {
  min-height: 200px;
}

.gallery-image {
  width: 100%;
  height: auto;
}

a {
  display: inline-block;
  color: rgb(104, 104, 104);
}

a:hover,
a:focus {
  color: rgb(138, 178, 218);
}

.photo-page {
  padding-right: 15px;
  padding-left: 15px;
}

.small-font {
  font-size: small;
}

.tag {
  font-style: italic;
}

.image {
  display: block;
  max-width: 100%;
  max-height: 80vh;
  width: auto;
  height: auto;
}

.jsonly {
  display: none;
}

@media only screen and (min-width: 865px) {
  body {
    padding: 10px 25px 10px 25px;
  }

  .pages {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-right: 0;
    padding-left: 0;
  }

  .pages ul {
    padding-left: 30px;
  }

  .pages li {
    float: none;
  }

  .content {
    color: rgb(95, 95, 95);
    width: 78%;
  }

  .gallery {
    padding-right: 0px;
    padding-left: 0px;
  }

  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }

  .image-gallery>li {
    height: 195px;
    flex: auto;
    position: relative;
  }

  .image-gallery li a {
    width: 100%;
    height: 100%;
    max-width: 100%;
  }

  .image-gallery::after {
    content: "";
    flex-grow: 999;
  }

  .photo {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }

  .title {
    padding-top: 20px;
    padding-left: 30px;
  }

  .horizontal {
    flex-direction: row;
  }

  .top-space {
    margin-top: 20px;
  }

  .photo-page {
    padding-top: 10px;
  }
}

@media only screen and (min-width: 1084px) {
  .image-gallery>li {
    height: 290px;
  }
}

@media only screen and (min-width: 1920px) {
  .image-gallery>li {
    height: 350px;
  }
}

@media only screen and (min-width: 2560px) {
  .image-gallery>li {
    height: 450px;
  }
}