{% extends "base.html" %}

{% block body %}
  <div class="horizontal">
    <div class="pages title">
      <a href="./">{{ site_title }}</a>
    </div>
  </div>
  <div class="horizontal">
    <div class="pages">
      {% if text_pages %}
        <ul>
          {% for text_page in text_pages %}
            <li>
              <a href="{{ text_page }}">{{ text_page }}</a>
            </li>
          {% endfor %}
        </ul>
        <br/>
      {% endif %}
      {% if photo_pages %}
        <ul>
          {% for photo_page in photo_pages %}
            <li>
              <a href="{{ photo_page }}">{{ photo_page }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="content">
      {% block content %}
        {{ content | safe }}
      {% endblock content %}
    </div>
  </div>
{% endblock %}
