body {
    padding: 10px 20px 10px 20px;
    background-color: #f5f5f5;
    font-family: 'Courier New', monospace, Helvetica, verdana, sans-serif;
}

ul {
    padding-left: 0;
    margin-top: 0;
}

li {
    list-style-type: none;
    padding-bottom: .5em;
}

.pages {
    width: 100%;
    flex-direction: row;
}

.pages a {
    padding: 2px 5px 2px 5px;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.content {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-gallery > li {
    flex: auto;
    cursor: pointer;
    position: relative;
}

.image-gallery li a {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.image-gallery li a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.image-gallery::after {
    content: "";
    flex-grow: 999;
  }

.title {
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 1.5em;
}

.image-temp {
    width: 100%;
    margin-bottom: 0.8em;
}

a {
    display: inline-block;
    color: rgb(104, 104, 104);
}

a:hover, a:focus {
    color: rgb(138, 178, 218);
}

.small-font {
    font-size: small;
}

.image {
    display: block;
    max-width: 100%;
    max-height: 80vh;
    width: auto;
    height: auto;
}

@media only screen and (min-width: 768px) {
    .pages {
        display: flex;
        flex-direction: column;
        width: 22%;
    }

    .pages a {
        text-decoration: none;
    }

    .content {
        color: rgb(95, 95, 95);
        width: 78%;
    }

    .image-gallery > li {
        height: 300px;
    }
}

@media only screen and (min-width: 2560px) {
    .image-gallery > li {
        height: 450px;
    }
}

@media screen and (max-width: 768px) {
    .pages ul {
        list-style: none;
    }

    .pages li {
        float: left;
    }

    .blank {
        display: none;
    }

    .title {
        padding-top: 5px;
    }

    .horizontal {
        flex-direction: column;
    }
}